
.brochure {
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.brochure img {
    width: 80%;
    max-width: 600px;
    margin: 20px auto 30px;
}
.brochure h2 a {
    color: transparent;
}

.brochure ul li {
    list-style: none;
    margin-bottom: 10px;
}


/* Large devices (desktops, 992px and up, when nav goes in straight line) 2/3 */
@media (min-width: 992px) {
    .brochure-row {
        display: flex;
        justify-content: space-between;
    }
    .brochure {
        width: 24%;
    }
    

}