{% extends "layout.html" %}

{% block css %}
<link href="/static/css/bemutatkozas.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="left-col">
            <h2 class="golden">Rólam</h2>
            <img src="https://varadiildikozmetika.hu/Kepek/Profil3.jpg" alt="Ildikó szelfizik" class="szelfi">
            <h3>Papp-Váradi Ildikó - kozmetikus.</h3>
            <p>2012-ben kezdtem kozmetikai tanulmányaimat a Diószegi Sámuel Szakgimnázium és Szakközépiskola kozmetikus szakán, Debrecenben. A képesítés megszerzése után 2014-ben helyezkedtem el a szakmában, amiben azóta is dolgozom.<br>
                Munkáim során rengeteg tapasztalatra tettem szert főként különböző típusú arkezelésekben, szőrtelenítésben és szálas műszempilla építésben.<br>
                A kozmetikai kezeléseket Afrodita és Nu Skin termékekkel végzem.<br>
                Célom, hogy minél több vendégemnek segíthessek, bőre egészségének, jó közérzetének megőrzésében kezeléseim által.<br>
                Szeretettel várom jelentkezését!
            </p>
        </div>
        <div class="right-col">
            <h2 class="golden">Szolgáltatások</h2>
            <h3><a href="#arckezelések">Arckezelések (katt.)</a></h3>
            <ul>
                <li><a href="#">Kényeztető kezelések (katt.)</a></li>
                <li><a href="#">Tisztító kezelések (katt.)</a></li>
                <li><a href="#">Exkluzív kezelések (katt.)</a></li>
                <li><a href="#">Gépi kezelések (katt.)</a></li>
            </ul>
            <h3><a href="#">Műszempillák (katt.)</a></h3>
            <ul>
                <li>1D /klasszikus alapszett, régebbi nevén 3D/
                <li>2D /duplázott pillasor/</li>
                <li>3D Volume</li>
                <li>4D Volume</li>
                <li>5-6D Volume</li>
            </ul>
            <h3><a href="#">Gyantázások (katt.)</a></h3>
            <ul>
                <li>Hagyományos</li>
                <li>Korong</li>
                <li>Cukorgyanta</li>
            </ul>
            <h3><a href="#">Smink (katt.)</a></h3>
            <ul>
                <li>Nappali</li>
                <li>Alkalmi</li>
                <li>Menyasszonyi próba</li>
                <li>Menyasszonyi</li>
            </ul>
            <h3><a href="#">Szempilla, szemöldök (katt.)</a></h3>
            <ul>
                <li>Szempilla festés /hagyományos, henna/</li>
                <li>Szemöldök festés /hagyományos, henna/</li>
                <li>Szemöldök formázás /csipesz, gyanta/</li>
                <li>Szemöldök laminálás</li>
                <li>Szempilla lifting</li>
            </ul>
        </div>
    </div>
    
    <div class="footer-line"></div>
{% endblock %}