{% extends "layout.html" %}

{% block css %}
<link href="/static/css/kezdolap.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="head-logo">
        <img class="logo" src="https://varadiildikozmetika.hu/logo2.png" alt="logo">
    </div>
    <div>
        <h2>Kedves Látogató!</h2>
        <p>Üdvözöllek kozmetikai oldalamon!<br>
            Szeretettel várlak egy barátságos környezetben Hajdúszoboszlón a Beauty For You Szépségszalonban!<br>
            Munkámat maximális odafigyeléssel és precizitással végzem. Célom, hogy a vendégeim elégedetten távozzanak tőlem!<br>
            Keress bizalommal!</p>
    </div>
{% endblock %}