{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/szolgaltatasok.css">
{% endblock %}

{% block main %}
    <section class="cards">
        <div class="card-row">
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/kenyezteto.jpg" alt="">
                <h2 class="golden small">Kényeztető arckezelések</h2>
                <ul>
                    <li><a href="#">Hatóanyagos arc és dekoltázs masszázs (katt.)</a></li>
                    <li><a href="#">Expressz kezelés (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/tisztito.jpg" alt="">
                <h2 class="golden small">Tisztító arckezelések</h2>
                <ul>
                    <li><a href="#">Tisztító kozmetikai (tini) kezelés tisztátalan, tág pórusú, pattanásokra hajlamos bőrnél (katt.)</a></li>
                    <li><a href="#">Tisztító kozmetikai (nagy) kezelés (katt.)</a></li>
                    <li><a href="#">Peel Re-new tisztító kezelés (katt.)</a></li>
                    <li><a href="#">Peel Re-new hámlasztó kezelés (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/exkluziv.jpg" alt="">
                <h2 class="golden small">Exkluzív arckezelések</h2>
                <ul>
                    <li><a href="#">Peel Re-new hiperpigmentáció elleni & Re White hatás & bőr tónusjavító kezelés (katt.)</a></li>
                    <li><a href="#">Peel Re-new Lifting kezelés (katt.)</a></li>
                    <li><a href="#">Pure Oxygen kezelés (katt.)</a></li>
                    <li><a href="#">Neuro Sensitive kezelés (katt.)</a></li>
                    <li><a href="#">Borterápia anti-age ránctalanító kezelés (katt.)</a></li>
                    <li><a href="#">3 peptides anti-age bőrfiatalító kezelés (katt.)</a></li>
                    <li><a href="#">Perfect Code ránctalanító kezelés (katt.)</a></li>
                    <li><a href="#">Hyaluron kezelés (katt.)</a></li>
                    <li><a href="#">Win Up Lift kezelés (katt.)</a></li>
                    <li><a href="#">Bakuchiol anti-age bőrápoló kezelés érzékeny, intoleráns bőrre (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/Arckezeles.jpg" alt="">
                <h2 class="golden small">Gépi arckezelések</h2>
                <ul>
                    <li><a href="#"></a>Nu Skin ránctalanító arcvasalás (katt.)</li>
                    <li><a href="#">Ultrahang (katt.)</a></li>
                </ul>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/muszempilla.jpg" alt="">
                <h2 class="golden small">Műszempillák</h2>
                <ul>
                    <li><a href="#">1D /klasszikus alapszett/ (katt.)</a></li>
                    <li><a href="#">2D /duplázott pillasor/ (katt.)</a></li>
                    <li><a href="#">3D Volume (katt.)</a></li>
                    <li><a href="#">4D Volume (katt.)</a></li>
                    <li><a href="#">5-6D Volume (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/smink.jpg" alt="">
                <h2 class="golden small">Sminkek</h2>
                <ul>
                    <li><a href="">Nappali smink (katt.)</a></li>
                    <li><a href="">Alkalmi smink (katt.)</a></li>
                    <li><a href="">Menyasszonyi smink (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/Gyanta2.jpg" alt="">
                <h2 class="golden small">Gyantázás</h2>
                <ul>
                    <li><a href="#">Bajusz, arc, hónalj, kar, has, fazon, láb (katt.)</a></li>
                </ul>
            </div>
            <div class="card">
                <img src="https://varadiildikozmetika.hu/Kepek/Services/oldokpilla.jpg" alt="">
                <h2 class="golden small">Szemöldök, szempilla</h2>
                <ul>
                    <li><a href="#">Szempilla festés hagyományosan vagy hennával (katt.)</a></li>
                    <li><a href="#">Szemöldök festés hagyományosan (katt.)</a></li>
                    <li><a href="#">Szemöldök festés hennával (katt.)</a></li>
                    <li><a href="#">Szemöldök szedés csipesszel vagy gyantával (katt.)</a></li>
                    <li><a href="#">Szempilla lifting (katt.)</a></li>
                    <li><a href="#">Szemöldök laminálás (katt.)</a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}